.container{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.cover{
	min-height: 400px;
	position: relative;
}
.card{
	position: absolute;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	transition: all ease 3s;
}
.go{
	transform: translateX(-100000px)!important;
	transition: all ease 6s;
}